<section id="about">
  <div
    class="min-h-screen flex flex-col mx-auto container items-center sm:py-20 py-10"
  >
    <h1 class="text-4xl mt-4 font-bold mb-4">PROJECTS</h1>
    <hr class="w-10 bg-violet-600 p-0.5 rounded-xl mb-4" />
    <p class="text-xl text-gray-600 text-center sm:w-2/3 px-2 mt-4 mb-20">
      Here you can find information about my projects.
    </p>
    <div class="container mx-auto flex flex-col lg:flex-row gap-8 px-4">
      <div class="flex-1">
        <h2 class="text-3xl font-bold mb-4">Quiz Web</h2>
        <p class="text-gray-600 mb-4 text-lg">
          This is my first <span class="font-bold">Angular</span> project:
          <a
            class="underline font-bold"
            href="https://srp-quiz.web.app/"
            target="_blank"
            >Quiz Web</a
          >. On this website, you can test your knowledge by taking quizzes on
          various categories. After completing a quiz, you can view the results
          of your answers. If you want to create your own quiz, go to the
          <a
            class="underline font-bold"
            href="https://srp-quiz.web.app/quiz"
            target="_blank"
            >/quiz</a
          >
          route and feel free to create your own tests.
        </p>
      </div>

      <div class="flex-1 flex justify-end lg:justify-end sm:justify-center">
        <div class="flex flex-wrap gap-4">
          <span
            class="bg-gray-200 transition-all hover:-translate-y-1 scale-10 text-gray-500 font-semibold px-6 py-3 rounded-lg shadow hover:bg-gray-300 cursor-pointer text-base"
          >
            <img
              class="w-full max-w-sm sm:max-w-xs lg:max-w-sm rounded-xl"
              src="../../../assets/img/quiz.png"
              alt="Quiz"
            />
          </span>
        </div>
      </div>
    </div>

    <div class="container mt-6 mx-auto flex flex-col lg:flex-row gap-8 px-4">
      <div class="flex-1">
        <h2 class="text-3xl font-bold mb-4">
          Book tj (<a href="https://42.uz/">Clone 42.uz</a>)
        </h2>
        <p class="text-gray-600 mb-4 text-lg">
          <a class="font-bold underline" href="https://book-tj.vercel.app/" target="_blank">Book.tj</a> is a platform for reading, designed for
          convenient access to literature. Here, you can find books across
          various genres and topics. All materials are available in digital
          format. The platform offers recommendations, an easy-to-use search,
          and personalized lists. The goal of Book.tj is to make reading
          accessible to everyone.
        </p>
      </div>

      <div class="flex-1 flex justify-end lg:justify-end sm:justify-center">
        <div class="flex flex-wrap gap-4">
          <span
            class="bg-gray-200 transition-all hover:-translate-y-1 scale-10 text-gray-500 font-semibold px-6 py-3 rounded-lg shadow hover:bg-gray-300 cursor-pointer text-base"
          >
            <img
              class="w-full max-w-sm sm:max-w-xs lg:max-w-sm rounded-xl"
              src="../../../assets/img/book.png"
              alt="Quiz"
            />
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="bg-white" />
