<!-- <div class="splash-screen" *ngIf="isSplashVisible" [ngClass]="splashScreenClass">
  <h1 class="welcome-text" [ngClass]="textClass">Welcome...</h1>
</div>
<div class="main-content" *ngIf="!isSplashVisible">
</div> -->
<app-navbar></app-navbar>

<section id="home">
  <app-home></app-home>
</section>

<section id="about">
  <app-about-me></app-about-me>
</section>

<section id="experience">
  <app-experince></app-experince>
</section>

<section id="contact">
  <app-contact></app-contact>
</section>
  <app-footer></app-footer>
