/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "myFont" ;
  src: url('./assets/font/SourceSans3-Bold.ttf' ) format('truetype');
}

body {
  font-family: "myFont";
}

