<div class="min-h-screen bg-gray-50 flex flex-col items-center py-8">
  <h1 class="text-4xl font-bold sm:mt-20 mt-6 mb-4">EXPERIENSE</h1>
  <hr class="w-10 bg-violet-600 p-0.5 rounded-xl mb-8" />
  <div class="container mx-auto space-y-6 px-4">
    <div class="bg-white shadow-lg rounded-lg p-6">
      <div class="flex justify-between items-center">
        <p class="text-gray-500 text-sm">2023 - 2024</p>
        <a
          href="https://gram.tj/TJ/khujand"
          class="text-violet-600 hover:underline text-sm"
          >IOyandasoz - Gram.tj ↗</a
        >
      </div>
      <h2 class="text-xl font-bold text-gray-800 mt-2">
        Frontend Developer Vue.js
      </h2>
      <p class="text-gray-700 mt-2">
        Before "IOyandasoz," I mostly had basic programming knowledge. There, I
        improved my skills and joined the team Taxi Gram. At "IOyandasoz - Taxi
        Gram" I worked on projects such as an admin panel for operators, a
        project for Prostore Maps, a Landing Gram.tj, a project for adding job
        vacancies and more.
      </p>
      <div class="flex flex-wrap gap-2 mt-4">
        <span
          class="bg-gray-200 text-gray-800 px-3 hover:bg-gray-400 transition-all duration-300 ease-in-out py-1 rounded-md text-sm"
          >JavaScript</span
        >
        <span
          class="bg-gray-200 text-gray-800 px-3 hover:bg-gray-400 transition-all duration-300 ease-in-out py-1 rounded-md text-sm"
          >Vue.js</span
        >
        <span
          class="bg-gray-200 text-gray-800 px-3 hover:bg-gray-400 transition-all duration-300 ease-in-out py-1 rounded-md text-sm"
          >Tailwind</span
        >
        <span
          class="bg-gray-200 text-gray-800 px-3 hover:bg-gray-400 transition-all duration-300 ease-in-out py-1 rounded-md text-sm"
          >Bootstrap</span
        >
      </div>
    </div>

    <div class="bg-white shadow-lg rounded-lg p-6 mb-10">
      <div class="flex justify-between items-center">
        <p class="text-gray-500 text-sm">2024 - Present</p>
        <a href="#" class="text-violet-600 hover:underline text-sm"
          >Silk Road Professionals ↗</a
        >
      </div>
      <h2 class="text-xl font-bold text-gray-800 mt-2">
        Frontend Developer Angular.js
      </h2>
      <p class="text-gray-700 mt-2">
        After IO, I interned at Silk Road Professionals. There, I learned
        Angular, MongoDB, improved my skills with Firebase, and gained a
        foundational understanding of backend development with NestJS. I created
        several projects, including an online bookstore, a quiz project, a
        Telegram bot for managing kitchen automation using NestJS, and a mini
        app in Angular.
      </p>
      <div class="flex flex-wrap gap-2 mt-4">
        <span
          class="bg-gray-200 text-gray-800 px-3 hover:bg-gray-400 transition-all duration-300 ease-in-out py-1 rounded-md text-sm"
          >JavaScript</span
        >
        <span
          class="bg-gray-200 text-gray-800 px-3 hover:bg-gray-400 transition-all duration-300 ease-in-out py-1 rounded-md text-sm"
          >TypeScript</span
        >
        <span
          class="bg-gray-200 text-gray-800 px-3 hover:bg-gray-400 transition-all duration-300 ease-in-out py-1 rounded-md text-sm"
          >Angular.js</span
        >
        <span
          class="bg-gray-200 text-gray-800 px-3 hover:bg-gray-400 transition-all duration-300 ease-in-out py-1 rounded-md text-sm"
          >Nest.js</span
        >
        <span
          class="bg-gray-200 text-gray-800 px-3 hover:bg-gray-400 transition-all duration-300 ease-in-out py-1 rounded-md text-sm"
          >Firebase</span
        >
        <span
          class="bg-gray-200 text-gray-800 px-3 hover:bg-gray-400 transition-all duration-300 ease-in-out py-1 rounded-md text-sm"
          >MongoDB</span
        >
      </div>
    </div>
  </div>
</div>
<hr class="bg-white" />
